<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Repositorio EGS</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">


  </head>
  <body>
    <div class="container">
        <h1>Bem-vindo! ao Flask</h1>
        {%print(dados)%}

        <p>Coloquei um exemplo de Front-end usando Bootstrap para quem tá com dúvida de onde colocar.</p>
    </div>
  </body>
</html>